*, html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.light {
    background-color: #efeeee;
}

/* debug colors */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
/* end debug colors */

.minus {
    color: #dc3545;
}

.plus {
    color: #28a745;
}

.flat-box {
    border-color: 1px solid gray;
}

.neo-box {
    background-color:#efeeee;
    border-radius: 8px;
    box-shadow: 
        6px 6px 16px rgb(224, 220, 214), 
        -6px -6px 16px #FFFFFF;
}

.neo-inset {
    background-color:#efeeee;
    border-radius: 8px;
    box-shadow: 
        inset 6px 6px 12px rgb(224, 220, 214), 
        inset -6px -6px 12px #FFFFFF;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.static-cell {
    margin-left: 8px;
    margin-right: 8px;
    min-height: 50px;
    font-size: calc(20px + 30%);
    font-weight: 700;
}

.cell-divider {
    border-radius: 100px;
    border-left: 4px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
}

.cell-holder-left {
    margin-right: auto;
    height: 56px;
}

.cell-holder-right {
    margin-left: auto;
    height: 56px;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}