#head {
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: calc(20px + 2vw);
	font-weight: 700;
	padding-bottom: 25px;
	overflow: hidden;
}

#members {
	height: calc(100% - 72px - 2vw);
}

#name {
	max-width: 58vw;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

#invitebtn {
	font-weight: 700;
	border: 1.5px solid #03B776;
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
	margin: 4px;
}

#invite {
	margin-left: 30px;
	margin-right: 10px;
	width: 9vw;
}

#content-col {
	justify-content: center;
	align-items: flex-start;
}

#confirm-text {
	font-size: calc(20px + 1vw);
	padding: 20px;
}

#joinbtn {
	font-weight: 700;
	border: 1.5px solid #03B776;
	padding: 8px;
	width: 90%;
	margin: 20px;
}

#members-table-container {
	padding-top: 20px;
	justify-content: flex-start;
}

#group-members {
    width: 100%;
}

.member-list {
    width: 100%;
}

.member-name {
    text-align: left;
    font-weight: 700;
    font-size: calc(18px + 0.8vw);
    max-width: 0;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 6px;
}

.member-due {
	text-align: right;
	font-size: calc(18px + 0.8vw);
    max-width: 20%;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (orientation: portrait) {
	#name {
		max-width: 85vw;
	}
	#invite {
		margin: 0;
		padding-top: 10px;
		width: 90vw;
	}
  }
  