{% extends "main_base.html" %}
{% block main_head %}
<title> Better$plit </title>
{% endblock %}
{% block main_body %}
<body>
    <section id="main" class="container-fluid fullheight fullwidth light">
        <div class="row fullheight">
            <div class="col-xl-3 flex-col p-4 overflow-hidden">
                <div id="dues" class="flex-row container neo-box">
                    <div class="cell-holder-left"></div>
                    <div class="flex-col static-cell minus">
                        {{ '-' + profile['minus'] | string}}
                    </div>
                    <div class="cell-divider"></div>
                    <div class="flex-col static-cell net">
                        {% if profile['net'] < 0 %}
                            {{ '-' + profile['net'] | string }}
                        {% else %}
                            {{ '+' + profile['net'] | string }}
                        {% endif %}
                    </div>
                    <div class="cell-divider"></div>
                    <div class="flex-col static-cell plus">
                        {{ '+' + profile['plus'] | string}}
                    </div>
                    <div class="cell-holder-right"></div>
                </div>
                <div id="btncontainer" class="flex-row container-fluid overflow-hidden">
                    <button id="newbtn" onclick=redirToPayment() class="btn main-btn btn-outline-warning"> NEW PAYMENT </button>
                    <button id="settlebtn" class="btn main-btn btn-outline-dark"> SETTLE DUES </button>
                </div>
                <div id="pay" class="flex-col container neo-box">
                    <div class="width-100 title-row overflow-hidden">
                        QUICK PAY
                    </div>
                    <div id="qpay-card" class=" container-fluid flex-col width-100 height-100">
                        <!-- TODO: Make amount container expand with text length -->
                        <!-- TODO: Persistent rupee icon on left -->
                        <div class="flex-row qpay-amount-container">
                            {% if 'amount' in errors %}
                                {{ form.amount(class='tfield-big neo-inset error-bg qpay-field', autocomplete='off')}}
                            {% else %}
                                {{ form.amount(class='tfield-big neo-inset qpay-field', autocomplete='off')}}
                            {% endif %}
                        </div>
                        <!-- TODO: Persistent '@' icon on left -->
                        <div class="flex-row qpay-to-container">
                            {% if 'to' in errors %}
                                {{ form.to(class='tfield-med neo-inset error-bg qpay-field', autocomplete='off')}}
                            {% else %}
                                {{ form.to(class='tfield-med neo-inset qpay-field', autocomplete='off')}}
                            {% endif %}
                        </div>
                            <button type="button" class="btn btn-outline-dark formbtn qpaybtn"> PAY </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 p-4 overflow-hidden">
                <div id="transactions" class="flex-col container-fluid neo-box">
                    <div class="width-100 title-row overflow-hidden">
                        TRANSACTIONS
                    </div>
                    <div class="flex-col width-100 height-100">
                        <!-- TRANSACTIONS TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}