{% extends "main_base.html" %}
{% block main_head %}
<title> {{ 'Join ' + group['name'] }} | Better$plit </title>
<link rel="stylesheet" href={{ url_for("static", filename="groups.css") }}>
{% endblock %}
{% block main_body %}
<body>
    <section id="main" class="container-fluid flex-col fullheight fullwidth light">
        <div id="confirm-box" class="flex-col neo-box">
            <div id="confirm-text">
                Join <span style="font-weight: 700;">{{ group['name'] }}</span> ?
            </div>
            <form id="join-form" method="POST"></form>
            <button id="joinbtn" type="submit" form="join-form" formmethod="POST" class="btn btn-outline-success"> JOIN! </button>
        </div>
    </section>
</body>
{% endblock %}