{% extends "forms_base.html" %}
{% block head_forms %}
<title> Login | Better$plit </title>
{% endblock %}
{% block body_forms %}
<div id="login-card" class="neo-box">
    <form method="POST">
        <p>
            {{ form.username.label(class='tfield-label') }} <br>
            {{ form.username(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <p>
            {{ form.password.label(class='tfield-label') }} <br>
            {{ form.password(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <br>
        <p class="btncontainer">
            {{ form.login(class='btn btn-outline-success formbtn loginbtn') }}
        </p>
        <p class="btncontainer">
            <button type="button" onclick=redirToSignup() class='btn btn-outline-dark formbtn secbtn'> SIGN UP </button>
        </p>
    </form>
</div>
{% endblock %}