{% extends "login_base.html" %}
{% block head_forms %}
<form id="signup_redir" class="loginpage_form" action='/signup'></form>
{% endblock %}
{% block body_forms %}
<form id="login_creds" class="loginpage_form" action="">
	<div class="tfield_frame">
		{% if 'username_empty' in error or 'user_dne' in error %}
		<label class="tfield_label_error" for="username"> USERNAME </label>
		{% else %}
		<label class="tfield_label" for="username"> USERNAME </label>
		{% endif %}
		<br>
		{% if 'username_empty' in error or 'user_dne' in error %}
		<input class="tfield_error" type="text" name="username" value={{ request.form.username }}>
		{% if 'username_empty' in error %}
			<div class="errormessage"> {{ error.username_empty }} </div>
			{% else %}
			<div class="errormessage"> {{ error.user_dne }} </div>
			{% endif %}
		{% else %}
		<input class="tfield" type="text" name="username" value={{ request.form.username }}>
		{% endif %}
		<br>
	</div>
	<div class="tfield_frame">
		{% if 'pass_empty' in error or 'auth_fail' in error%}
		<label class="tfield_label_error" for="password"> PASSWORD </label>
		{% else %}
		<label class="tfield_label" for="password"> PASSWORD </label>
		{% endif %}
		<br>
		{% if 'pass_empty' in error or 'auth_fail' in error %}
		<input class="tfield_error" type="password" name="password" value={{ request.form.password}}>
			{% if 'pass_empty' in error %}
			<div class="errormessage"> {{ error.pass_empty }} </div>
			{% else %}
			<div class="errormessage"> {{ error.auth_fail }} </div>
			{% endif %}
		{% else %}
		<input class="tfield" type="password" name="password" value={{ request.form.password}}>
		{% endif %}
		<br>
	</div>
	<div class="tfield_frame">
		<div class="button_container">
			<button id="login" class="loginpage_button" type="submit" form="login_creds" formmethod="post"> GO! </button>
			<br>
			<button id="signup" class="loginpage_button" type="submit" form="signup_redir"> Sign up now! </button>
		</div>
	</div>
</form>
{% endblock %}