{% extends "forms_base.html" %}
{% block head_forms %}
<title> Login | Better$plit </title>
{% endblock %}
{% block body_forms %}
<div id="login-card" class="neo-box">
    <form method="POST">
        <p>
            {% if 'username' in errors %}
                {{ form.username.label(class='tfield-label error-fg') }} <br>
                {{ form.username(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['username'] }} </div>
            {% else %}
                {{ form.username.label(class='tfield-label') }} <br>
                {{ form.username(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <p>
            {% if 'password' in errors %}
                {{ form.password.label(class='tfield-label error-fg') }} <br>
                {{ form.password(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['password'] }} </div>
            {% else %}
                {{ form.password.label(class='tfield-label') }} <br>
                {{ form.password(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <br>
        <p class="btncontainer">
            {{ form.login(class='btn btn-outline-success formbtn loginbtn') }}
        </p>
        <p class="btncontainer">
            <button type="button" onclick=redirToSignup() class='btn btn-outline-dark formbtn secbtn'> SIGN UP </button>
        </p>
    </form>
</div>
{% endblock %}