<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
		<title> ILSBB </title>
		{% block head_forms %}
		{% endblock %}
	</head>
	<body>
		<div class="main_flex">
			<div class="left">
				<img class="logo" src="/static/logo_color.svg" align="middle">
				</img>
				<div class="summary_flex">
					<span class="summary dark"> Don't let your friends steal your money&nbsp;</span>
					<span class="summary light"> like we steal ideas. </span>
				</div>
			</div>
			<div class="right">
				{% block body_forms %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>