{% extends "forms_base.html" %}
{% block head_forms %}
<title> Signup | Better$plit </title>
{% endblock %}
{% block body_forms %}
<div id="signup-card" class="neo-box">
    <form method="POST">
        <p>
            {{ form.name.label(class='tfield-label') }} <br>
            {{ form.name(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <p>
            {{ form.username.label(class='tfield-label') }} <br>
            {{ form.username(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <p>
            {{ form.password.label(class='tfield-label') }} <br>
            {{ form.password(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <p>
            {{ form.phone.label(class='tfield-label') }} <br>
            {{ form.phone(class='tfield neo-inset', autocomplete='off') }}
        </p>
        <div class="tfield-label">
            PAYMENT OPTIONS
        </div>
        <br>
        <div class="payment flex-row">
            <label class="payment-opts">
                <img src='../static/gpay_color.svg' class="gpay-icon">
                <input type="checkbox">
                <span class="checkmark neo-inset"></span>
            </label>
            <label class="payment-opts">
                <img src='../static/paytm_color.svg' class="paytm-icon">
                <input type="checkbox">
                <span class="checkmark neo-inset"></span>
            </label>
        </div>
        <br>
        <p class="btncontainer">
            {{ form.signup(class='btn btn-outline-warning formbtn signupbtn') }}
        </p>
        <p class="btncontainer">
            <button type="button" onclick=redirToLogin() class='btn btn-outline-dark formbtn secbtn'> BACK TO LOGIN </button>
        </p>
    </form>
</div>
{% endblock %}