{% extends "forms_base.html" %}
{% block head_forms %}
<title> Signup | Better$plit </title>
{% endblock %}
{% block body_forms %}
<div id="signup-card" class="neo-box">
    <form method="POST">
        <p>
            {% if 'name' in errors %}
                {{ form.name.label(class='tfield-label error-fg') }} <br>
                {{ form.name(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['name'] }} </div>
            {% else %}
                {{ form.name.label(class='tfield-label') }} <br>
                {{ form.name(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <p>
            {% if 'username' in errors %}
                {{ form.username.label(class='tfield-label error-fg') }} <br>
                {{ form.username(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['username'] }} </div>
            {% else %}
                {{ form.username.label(class='tfield-label') }} <br>
                {{ form.username(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <p>
            {% if 'password' in errors %}
                {{ form.password.label(class='tfield-label error-fg') }} <br>
                {{ form.password(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['password'] }} </div>
            {% else %}
                {{ form.password.label(class='tfield-label') }} <br>
                {{ form.password(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <p>
            {% if 'phone' in errors %}
                {{ form.phone.label(class='tfield-label error-fg') }} <br>
                {{ form.phone(class='tfield neo-inset error-bg', autocomplete='off') }}
                <div class="error-msg error-fg"> {{ errors['phone'] }} </div>
            {% else %}
                {{ form.phone.label(class='tfield-label') }} <br>
                {{ form.phone(class='tfield neo-inset', autocomplete='off') }}
            {% endif %}
        </p>
        <br>
        <p class="btncontainer">
            {{ form.signup(class='btn btn-outline-warning formbtn signupbtn') }}
        </p>
        <p class="btncontainer">
            <button type="button" onclick=redirToLogin() class='btn btn-outline-dark formbtn secbtn'> BACK TO LOGIN </button>
        </p>
    </form>
</div>
{% endblock %}